.timer {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
  padding: 50px;
  font-family: 'Alata', sans-serif;
}

.field {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.value {
  width: 82px;
  padding: 24px;
  margin: 0 auto;
  font-size: 32px;
  background-color: teal;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 12px;
}

.label {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
}
